body {
  min-height: 100%;
  background-color: #F1F1F1;
  display: block;
}

.content-container {
  box-shadow: rgba(0, 0, 0, 0.133) 0 3.2px 7.2px 0,
  rgba(0, 0, 0, 0.11) 0 0.6px 1.8px 0;
  max-width: 100%;
  padding-inline-start: 15px;
  padding-inline-end: 15px;
  margin: auto;
  display: flex;
  background-color: white;
  &.main-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &.main-container {
    display: flex;
    flex-direction: column;
    @include breakpoint-up(sm) {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 1fr;
      gap: 0 0;
      grid-template-areas: "content-left content-right";
    }
    > div {
      max-width: 100%;
      &:not(.full-width) {
        &:nth-child(1) {
          grid-area: content-left;
          padding-right: 15px;
        }
        &:nth-child(2) {

          grid-area: content-right;
          &:not(.visible-mobile) {
            padding-left: 15px;
            display: none;
          }
          @include breakpoint-up(sm) {
            display: block;
          }
        }
      }
      &.full-width {
        grid-row-start: content-left;
        grid-row-end: content-right;
        grid-column-start: content-left;
        grid-column-end: content-right;
      }
    }
  }
  @include breakpoint-up(md) {
    padding-inline-start: 35px;
    padding-inline-end: 35px;
  }
  @each $breakpoint, $width in $breakpoints {
    @include breakpoint-up($breakpoint) {
      width: calc(#{$width} / 1.05);
    }
  }
}
.calendar-settings-container {
  display: flex;
  & > div {
    flex: 1 1 auto;
    padding-left: 15px;
    &:first-child {
      border-right: 1px solid ghostwhite;
      padding-right: 15px;
      padding-left: 0;
      flex: 1 1 55%;
    }
  }
}
.main-container {
}
