.header {
  &-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  &-classes {
    margin-left: auto;
  }
  &-title {
    a {
      text-decoration: none;
      color: black;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      span {
        display: block;
        margin-left: .5rem;
        font-size: .75rem;
      }
      svg {
        width: 32px;
        height: 32px;
      }
    }
  }
  &-actions {
    margin-left: auto;
    .logged-in-menu {
      .ms-Button-textContainer {
        @include breakpoint-down(sm) {
          display: none;
        }
      }
    }
  }

}
