.header {
  &-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  &-title {
    a {
      text-decoration: none;
      color: black;
    }
  }
  &-actions {
    margin-left: auto;
    .logged-in-menu {
      .ms-Button-textContainer {
        @include breakpoint-down(sm) {
          display: none;
        }
      }
    }
  }

}
