@import 'abstracts/variables';
@import 'abstracts/mixins';

@import 'layout/display';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/typography';
@import 'components/user-administration';
@import 'components/calendar-page';

* {
  box-sizing: border-box;
  &:before, &:after {
    box-sizing: border-box;
  }
}



button {
  &.ms-Button {
    &:not(&--icon) {
      margin: 15px 0;
    }
  }
}

svg {
  max-width: 100%;
  height: auto;
}

.ms-TextField-fieldGroup {
  max-width: 300px;
}